{% extends 'main/layout.html' %}
{% block content %}




     <table class = search>
    <tr>
        <td>
             <h1>Таблица бомбардиров</h1>
        </td>
        <td class="table-cell" >
            <form class="custom-search-form" role="search" method="get" action="{% url 'bombardirs' %}">
                <input class="custom-search-input" type="search" name="search" placeholder="Поиск по команде или игроку" aria-label="Search">
                <button class="custom-search-button" type="submit"> <img src="https://w7.pngwing.com/pngs/403/322/png-transparent-computer-icons-search-box-button-button-desktop-wallpaper-search-box-magnifying-glass.png" alt="Поиск" width="30" height="30"></button>

            </form>

        </td>
    </tr>
    <table class="bombardirs">
        <thead>
            <tr>
                <th>Игрок</th>
                <th>Команда</th>
                <th>Голы</th>
            </tr>
        </thead>
        <tbody>
            {% for player in bombardirs %}

                <tr>
                    <td><a href="{% url 'footballer_detail' player.4 %}">{{ player.1 }} {{ player.2 }}</a></td>
                    <td><a href="{% url 'team_detail' player.5 %}">{{ player.0 }}</a></td>
                    <td>{{ player.3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
{% block title %}
    Бомбардиры
{% endblock %}