{% extends 'main/layout.html' %}
{% block content %}

    <h1>Турнирная таблица</h1>
    <table class="tournament_table">
        <thead>
            <tr>
                <th>Команда</th>
                <th>Город</th>
                <th>Игры</th>
                <th>Победы</th>
                <th>Ничьи</th>
                <th>Поражения</th>
                <th>Забито</th>
                <th>Пропущено</th>
                <th>Очки</th>
            </tr>
        </thead>
        <tbody>
            {% for team in tournament_table %}
                <tr>
                    <td>{{ team.0 }}</td>
                    <td>{{ team.1 }}</td>
                    <td>{{ team.2 }}</td>
                    <td>{{ team.3 }}</td>
                    <td>{{ team.4 }}</td>
                    <td>{{ team.5 }}</td>
                    <td>{{ team.6 }}</td>
                    <td>{{ team.7 }}</td>
                    <td>{{ team.8}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
{% block title %}
    Турнирная таблица
{% endblock %}