
aside{
    float: left;
    background: white;
    width: 20%;
    padding: 2.5%;
    min-height: 2500px;
    color: black;
    border-right: 5px solid gray;
    font-size: 20px;
}

.forma{
    background: gray;
}


.button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 10px; /* Добавьте отступ между группами кнопок, если необходимо */
}

.button-container a {
  display: block;
  width: 100%;
  box-sizing: border-box; /* Учтите padding и border внутри кнопки в ширине 100% */
  text-align: center;
  margin-bottom: 5px; /* Добавьте отступы между кнопками, если необходимо */
}



/* Стили для разделения экрана на две части */
.container {
    display: flex;
}

.left {
    flex: 4; /* Левая часть занимает 1/2 ширины экрана */
}


.right {
    flex: 6; /* Правая часть занимает 1/2 ширины экрана */
}

.bombardirs {
    border-collapse: collapse;
    width: 98%;
    font-family: Arial, sans-serif;

}


.bombardirs th,
.bombardirs td {
    padding: 10px;
    text-align: left;
}

.bombardirs tr {
    border-bottom: 3px solid #ccc
}

.bombardirs th {
    background-color: deepskyblue;
}

